<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EH</title>
  <link rel="stylesheet" href="static/css/application.css">
  <script type="text/javascript" src="static/js/index.js"></script>
</head>
<body>
  <nav>
    <div class="logo">
      <a class="home-link" href="./index.html">
        <img src="static/images/logo.png" alt="logo" />
        <h1>Solutions</h1>
      </a>
    </div> 
    <ul>
      <li style="margin-left: 0px;">
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/contact">Contract</a>
      </li>
      <!-- <li>
        <a href="/">Support</a>
      </li> -->
    </ul>
  </nav>
  <div class="main-container">
    <div class="row section-one col-md-12 mr-0 ml-0">
        <div class="division-one col-md-6">
            <h1>Your Ethical</h1>
            <h1>Hacking Companion</h1>
            <p>At EH, we equip security professionals, penetration
                testers, and ethical hackers with advanced tools to
                secure networks, applications, and systems.</p>
        </div>
        <div class="division-two col-md-6">
            <img class="cover-img" src="static/images/cover.png" alt="cover" />
        </div>
    </div>
    <div id="section1" class="row section-two col-md-12 mr-0 ml-0">
        <div class="row">
            <!-- <div class="col-md-3">
              <div class="card">
                <div class="icon-round">
                 <img class="card-icons" src="./assets/images/planning.png" alt="icon" />
                </div>
                <div class="card-body text-center">
                  <h5 class="card-title">Planning & Scoping</h5>
                  <p class="card-text">Plan and scope your
                    cybersecurity operations
                    carefully.</p>
                  <a href="#" class="btn btn-primary">View Details</a>
                </div>
              </div>
            </div> -->
            <div class="col-md-3">
              <div class="card">
                <div class="icon-round">
                 <img class="card-icons" src="static/images/passive.png" alt="icon" />
                </div>
                <div class="card-body text-center">
                  <h5 class="card-title">Passive Recong</h5>
                  <p style="margin-bottom: 17px;" class="card-text">Conduct passive reconnaissance
                    to gather external information
                    without direct interaction.</p>
                  <a href="/passive_recon" class="btn btn-primary">View Details</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="icon-round">
                 <img class="card-icons" src="static/images/active.png" alt="icon" />
                </div>
                <div class="card-body text-center">
                  <h5 class="card-title">Active Recon</h5>
                  <p class="card-text">Perform active reconnaissance
                    by probing the target network
                    for vulnerabilities.</p>
                  <a href="/active_recon" class="btn btn-primary">View Details</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="icon-round">
                 <img class="card-icons" src="static/images/vulnerability.png" alt="icon" />
                </div>
                <div class="card-body text-center">
                  <h5 class="card-title">Vulnerability Assessment</h5>
                  <p class="card-text">Assess vulnerabilities
                    in your system using
                    our tools.</p>
                  <a href="/openvas" class="btn btn-primary">View Details</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="icon-round">
                 <img class="card-icons" src="static/images/enumaration.png" alt="icon" />
                </div>
                <div class="card-body text-center">
                  <h5 class="card-title">Enumeration</h5>
                  <p class="card-text">Enumerate services,
                    usernames, and open ports to
                    find weak points in the system.</p>
                  <a href="/dirbuster" class="btn btn-primary">View Details</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="icon-round">
                 <img class="card-icons" src="static/images/exploit.png" alt="icon" />
                </div>
                <div class="card-body text-center">
                  <h5 class="card-title">Exploit</h5>
                  <p class="card-text">Launch exploits to test the
                    resilience of your systems.</p>
                  <a href="/sqlmap" class="btn btn-primary">View Details</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="icon-round">
                 <img class="card-icons" src="static/images/post-exploit.png" alt="icon" />
                </div>
                <div class="card-body text-center">
                  <h5 class="card-title">Post-Exploit</h5>
                  <p class="card-text">Analyze the effects and
                    results of exploitation on the
                    target system.</p>
                  <a href="#" class="btn btn-primary">View Details</a>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-3">
              <div class="card">
                <div class="icon-round">
                 <img class="card-icons" src="static/images/cover-tracks.png" alt="icon" />
                </div>
                <div class="card-body text-center">
                  <h5 class="card-title">Cover Tracks</h5>
                  <p class="card-text">Erase or obfuscate
                    evidence of your presence
                    in the target system.</p>
                  <a href="#" class="btn btn-primary">View Details</a>
              </div>
            </div>
        </div> -->
    </div>
  </div>
  <footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <div class="footer-text">
                            <h4>Address</h4>
                            <span>1030 Idylwyld Dr N, Saskatoon, SK S7L 4J7</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <div class="footer-text">
                            <h4>Call us</h4>
                            <span>+1 1110001111</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <div class="footer-text">
                            <h4>Mail us</h4>
                            <span>ehsolution@eh.ca</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2024, All Right Reserved</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="./index.html">Home</a></li>
                            <li><a href="./pages/contact.html">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </footer>
    <!-- <script>
            async function lookup() {
                const domain = document.getElementById('domain').value;
                const response = await fetch('/whois', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ domain: domain })
                });
                const resultDiv = document.getElementById('result');
                if (response.ok) {
                    const data = await response.json();
                    resultDiv.innerHTML = <pre>${JSON.stringify(data, null, 2)}</pre>;
                } else {
                    const error = await response.json();
                    resultDiv.innerHTML = <p style="color:red;">Error: ${error.error}</p>;
                }
           }
    </script> -->
</body>
</html>
